@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 id="auditTitle">Audit Records</h1>


<button id="loadAuditsButton" onclick="loadAudits()">Load Audits</button>


<table id="auditTable">
    <thead id="auditTableHead">
        <tr id="auditHeaderRow">
            <th id="auditIdHeader">Audit ID</th>
            <th id="auditRecordHeader">Audit Record</th>
        </tr>
    </thead>
    <tbody id="auditTableBody">
        
    </tbody>
</table>


<script src="~/js/site.js"></script>