@{
    ViewData["Title"] = "Home Page";
}
<!-- Most of the styling was taken from bootstrap apart from the normal site.css, this is because visual studio has bootstrap in it -->
<!-- Referred:  https://getbootstrap.com/docs/5.3 -->
<div class="text-center">
    <h1 class="display-4">Welcome to DC Bank</h1>
   
    <a class="btn btn-primary" href="/Home/Login">Login</a>
</div>
